.header h1 a {
  text-decoration: none;
}

.header .blue {
  color: #4285f4;
}
.header .green {
  color: #34a853;
}
.header .red {
  color: #ea4335;
}
.header .yellow {
  color: #fbbc05;
}
