.navi ul {
  display: flex;
}

.navi li {
  list-style-type: none;
  background-color: #fff;
  border-radius: 4px;
}

.navi li + li {
  margin-left: 8px;
}

.navi li a {
  color: #000;
  font-weight: bolder;
  text-decoration: none;
  display: inline-block;
  padding: 7px 20px;
}

.navi li a.active {
  background-color: var(--main-color);
  color: #fff;
  border-radius: 4px;
}
