.navi ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 0;
}

.navi li {
  background-color: var(--white);
  border-radius: 4px;
  margin-right: 8px;
}

.navi li a {
  color: #000;
  font-weight: bolder;
  text-decoration: none;
  display: inline-block;
  padding: 7px 20px;
}

.navi li a.active {
  background-color: var(--main-color);
  color: var(--white);
  border-radius: 4px;
}
